{% include "layouts/base.html" %} {% block content %}
<style>
  .div {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 30px 30px 10px;
    box-shadow: 0 0 150px -20px rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  P {
    font-family: "Share Tech Mono", monospace;
    color: #f5f5f5;
    margin: 0 0 20px;
    font-size: 17px;
    line-height: 1.2;
  }

  span {
    color: #f0c674;
  }

  i {
    color: #8abeb7;
  }

  div a {
    text-decoration: none;
  }

  b {
    color: #81a2be;
  }

  @keyframes slide {
    from {
      right: -100px;
      transform: rotate(360deg);
      opacity: 0;
    }
    to {
      right: 15px;
      transform: rotate(0deg);
      opacity: 1;
    }
  }
</style>
<div class="main-container">
  <div class="main-header anim" style="--delay: 0s">About SHAS</div>
  <div class="div">
    <p><span>SMART DEVICE</span>: <i>SHAS</i></p>
    <p>
      <span>FOR</span>: <i>ROUGH SLEEPERS</i></p>
    </p>
    <p>
      <span>WHO</span>: <i>Individuals who utilize short-term overnight facilities, such as Safe Sound Sleeping Places (S3P).</i>
    </p>
    <p>
      <span>THE DEVICE</span>: <b
        >Given the inconsistency in their sleeping arrangements, often dictated by strict morning vacate timings, the built-in timer that logs the duration for them to wake up allows them to progressively monitor their sleep routine over an extended period of time.</b
      >
    </p>
    <p>
      <span>UNLIKE </span>:
      <b>Unlike conventional alarms that simply ring at a set time with no integration of other features.</b>
    </p>
    <p>
      <span>OUR DEVICE</span>:
      <b>
        Our device leverages on the concept of gamification—the application of game elements in non-game contexts. By incorporating different games, we provide users with intrinsic motivation to rise and shine each morning. To turn off the alarm, users must first complete one of the two interactive games: a Flappy Bird-style game or a maze challenge. One can choose among these two games to play daily, which reduces the chances of the user getting bored of the game.
      </b>
      <p>
        <b>
          Additionally, we also incorporated the accelerometer to detect an upright position, which serves as an additional requirement for the alarm to stop.
        </b>
      </p>
      <p>
        <b>
          Most importantly, SHAS features a built-in timer that logs the time taken from when the alarm sounds to when the user finishes the game. This data helps rough sleepers track their wake-up habits daily, even amidst the varied environments in which they sleep, which motivates them to improve their habits to wake up on time.
        </b>
      </p>
    <p><span>HAVE A NICE DAY :></span></p>
  </div>
</div>

{% endblock %}

<script>
  var str = document.getElementsByClassName("div")[0].innerHTML.toString();
  var i = 0;
  document.getElementsByClassName("div")[0].innerHTML = "";

  setTimeout(function () {
    var se = setInterval(function () {
      i++;
      document.getElementsByClassName("div")[0].innerHTML =
        str.slice(0, i) + "|";
      if (i == str.length) {
        clearInterval(se);
        document.getElementsByClassName("div")[0].innerHTML = str;
      }
    }, 1);
  }, 0);
</script>
