{% include "layouts/base.html" %} 
{% block content %}
<div class="main-container">
    <div class="main-header anim" style="--delay: 0s">Analytics</div>
    <canvas id="myChart"></canvas>
</div>
{% endblock %}

<script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{ labels | safe }},
        datasets: [{
          label: 'Average Wake-Up Duration (seconds)',
          data: {{ li | safe }},
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>