{% include "layouts/base.html" %} {% block content %}
<div class="main-container">
  <main>
    <ul class="slider">
      <li
        class="item"
        style="background-image: url('../static/images/game.png')"
      >
        <div class="content">
          <h1 class="title">"Gamification"</h1>
          <p class="description">
            Usage of game elements as a form of intrinsic motivation to engage the users.
            (flappy bird and maze) 
          </p>
        </div>
      </li>
      <li
        class="item"
        style="background-image: url('../static/images/accele.jpg')"
      >
        <div class="content">
          <h2 class="title">"Accelerometer Feature"</h2>
          <p class="description">
            To detect an upright position of the microbit which serves as an 
            additional requirement to turn off the alarm on top of completing the game.
            This it to prevents users from simply silencing the alarm while lying down.
          </p>
        </div>
      </li>
      <li
        class="item"
        style="background-image: url('../static/images/Track.png')"
      >
        <div class="content">
          <h2 class="title">"In-built timer"</h2>
          <p class="description">
            Logs the time interval (in seconds) between start of the alarm sound, 
            and the time at which the user finishes the game, which represents the amount of time the user takes to wake up. 
            This allows the user to keep track of their wake up habits daily amidst their inconsistent sleeping venues.
          </p>
        </div>
      </li>
    </ul>
    <nav class="av">
      <ion-icon class="btn prev" name="arrow-back-outline"></ion-icon>
      <ion-icon class="btn next" name="arrow-forward-outline"></ion-icon>
    </nav>
  </main>
</div>
{% endblock %}

<script>
  const slider = document.querySelector(".slider");

  function activate(e) {
    const items = document.querySelectorAll(".item");
    console.log(items, slider);
    e.target.matches(".next") && slider.append(items[0]);
    e.target.matches(".prev") && slider.prepend(items[items.length - 1]);
  }

  document.addEventListener("click", activate, false);
</script>
