{% include "layouts/base.html" %} {% block content %}
<div class="main-container">
  <main>
    <ul class="slider">
      <li
        class="item"
        style="background-image: url('../static/images/game.png')"
      >
        <div class="content">
          <h1 class="title">"Gamification"</h1>
          <p class="description">
            <mark
              >The SHAS alarm ensures users wake up at their scheduled time by
              persisting until they complete an interactive game. Traditional
              snoozing isn't an option, making it a reliable tool for
              cultivating consistent wake-up routines.
            Usage of game elements as a form of intrinsic motivation to engage
            the users. (flappy bird and maze)
            </mark>
          </p>
        </div>
      </li>
    
      <li
        class="item"
        style="background-image: url('../static/images/accel.jpg')"
      >
        <div class="content">
          <h2 class="title">"Accelerometer Feature"</h2>
          <p class="description">
            <mark
              >The SHAS device integrates an accelerometer to detect movement,
              ensuring the user is physically active when turning off the alarm.
              This feature prevents users from simply silencing the alarm while
              lying down, promoting complete wakefulness by requiring
              intentional physical effort, such as picking up the device or
              tilting it in a specific direction.
            To detect an upright position of the microbit which serves as an
            additional requirement to turn off the alarm on top of completing
            the game. This it to prevents users from simply silencing the alarm
            while lying down..</mark>
          </p>
        </div>
      </li>
      <li
        class="item"
        style="background-image: url('../static/images/Track.png')"
      >
        <div class="content">
          <h2 class="title">"In-built timer"</h2>
          <p class="description">
            <mark>
              SHAS includes a data logging feature that tracks the time taken to
              turn off the alarm, from the initial alarm sound to the completion
              of the game. This data allows users to monitor and adjust their
              wake-up habits for long-term sleep improvement.
            Logs the time interval (in seconds) between start of the alarm
            sound, and the time at which the user finishes the game, which
            represents the amount of time the user takes to wake up. This allows
            the user to keep track of their wake up habits daily amidst their
            inconsistent sleeping venues.</mark>
          </p>
        </div>
      </li>
    </ul>
    <nav class="av">
      <ion-icon class="btn prev" name="arrow-back-outline"></ion-icon>
      <ion-icon class="btn next" name="arrow-forward-outline"></ion-icon>
    </nav>
  </main>
</div>
{% endblock %}

<script>
  const slider = document.querySelector(".slider");

  function activate(e) {
    const items = document.querySelectorAll(".item");
    console.log(items, slider);
    e.target.matches(".next") && slider.append(items[0]);
    e.target.matches(".prev") && slider.prepend(items[items.length - 1]);
  }

  document.addEventListener("click", activate, false);
</script>
