{% include "layouts/base.html" %} {% block content %}
<div class="main-container">
  <div class="main-header anim" style="--delay: 0s">Discover</div>
  <div class="main-blogs" >
    <div class="main-blog anim" style="--delay: 0.1s" onclick="navigate()">
      <div class="main-blog__title">
        How to use SHAS Smart Device?
      </div>
      <div class="main-blog__author">
        <div class="author-img__wrapper">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-check"
          >
            <path d="M20 6L9 17l-5-5" />
          </svg>
          <img
            class="author-img"
            src="../static/images/citadel.png"
          />
        </div>
        <div class="author-detail">
          <div class="author-name">Ye Qikun</div>
          <div class="author-info">
            53K views <span class="seperate"></span>2 weeks ago
          </div>
        </div>
      </div>
      <button>Read More!</button>
      <div class="main-blog__time">2 min</div>
    </div>

    <div class="main-blog anim" style="--delay: 0.2s" onclick="navigateToMicrobit()">
      <div class="main-blog__title">Understand More About Micro:Bit!</div>
      <button style="margin-bottom: 10%;">Read More!</button>
      <div class="main-blog__author tips">
        <div class="main-blog__time">7 min</div>
        <div class="author-img__wrapper">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-check"
          >
            <path d="M20 6L9 17l-5-5" />
          </svg>
          <img
            class="author-img"
            src="../static/images/archer.jpeg"
          />
        </div>
        <div class="author-detail">
          <div class="author-name">Arvin</div>
          <div class="author-info">10K views <span></span>3 weeks ago</div>
          
        </div>
        
      </div>
    </div>
  </div>
  <div class="small-header anim" style="--delay: 0.3s">Today's Insights</div>
  <div class="videos">
    <div class="video anim" style="--delay: 0.4s">
      <div class="video-time">10 Seconds</div>
      <div class="video-wrapper">
        <video width="640px"
        height="267px"
        controls
        preload="metadata" 
       
        data-setup='{ "aspectRatio":"940:620", "playbackRates": [1, 1.5, 2] }'>
          <source
            src="../static/videos/fix.mp4"
            type="video/mp4"
          />
        </video>
        <div class="author-img__wrapper video-author">
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-check"
          >
            <path d="M20 6L9 17l-5-5" />
          </svg>
          <img
            class="author-img"
            src="../static/images/avatar.png"
          />
        </div>
      </div>
      <div class="video-by">Kai Yang</div>
      <div class="video-name">How to set SHAS Device to Maintenance Mode?</div>
      <div class="video-view">
        54K views<span class="seperate video-seperate"></span>1 week ago
      </div>
    </div>

    <div class="video anim" style="--delay: 0.4s">
        <div class="video-time">10 Seconds</div>
        <div class="video-wrapper">
          <video width="640px"
          height="267px"
          controls
          preload="metadata" 
         
          data-setup='{ "aspectRatio":"940:620", "playbackRates": [1, 1.5, 2] }'>
            <source
              src="../static/videos/IS114_Video.mov"
              type="video/mp4"
            />
          </video>
          <div class="author-img__wrapper video-author">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-check"
            >
              <path d="M20 6L9 17l-5-5" />
            </svg>
            <img
              class="author-img"
              src="../static/images/girl.png"
            />
          </div>
        </div>
        <div class="video-by">Huai En</div>
        <div class="video-name">Why use SHAS?</div>
        <div class="video-view">
          100K views<span class="seperate video-seperate"></span>4 months ago
        </div>
      </div>

    
  </div>

 
  </div>
</div>

{% endblock %}

<script>
    const navigate = () => {
        window.location.href = '/usage';
    }

    const navigateToMicrobit = () => {
        window.location.href = 'https://microbit.org';
    }
</script>